{% extends "layout.html" %}
{% block content %}

        <form class="mx-auto card p-5 mt-5" action="" method = "post" style="width: 500px;">
            <div class="form-group">
                <label for="InputNumber1">Enter a Number</label>
                <input class="form-control form-control-lg" type="number" min="0" step="1" required name = "numin" placeholder="Enter Number">
            </div>
            <button type="submit" class="btn btn-info">Submit</button>
        </form>
{% endblock content %}
